.homeAR {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.container3AR {
  border: 1px solid gray;
  border-radius: 10px;
  height: 81%;
  width: 65%;
  display: flex;
  overflow: hidden;
  gap: 100px;
  border: none;
}
.SideBarAR {
  border-radius: 33px;
  box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.1);
  flex: 1 1;
  border: 1px solid gray;
  background-color: white;
}
.ChatAR {
  flex: 2;
  border: solid;
  border-radius: 33px;
  box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.1);
  border: 1px solid gray;
  background-color: white;
}
.navbarAR {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: black;
}
.l1AR {
  font-weight: bold;
}
.user33AR {
  display: flex;
  gap: 10px;
}
.imAR {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.SearchAR {
  border-bottom: 1px solid black;
}
.inputFormAR {
  padding: 10px;
  border-radius: 25px;
  background: rgba(239, 246, 252, 0.87);
}
.inputFormAR input {
}
.userChatAR {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  cursor: pointer;
}
.userChatAR:hover {
  background-color: gray;
}
.userChatAR img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userChatInfoAR span {
  font-size: 18px;
  font-weight: 50;
}
.userChatInfoAR p {
  font-size: 14px;
  color: lightgray;
}
.chatAR {
  flex: 2;
  border: 1px solid black;
}
.chatinfoAR {
  height: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #303030;
}
.chatinfoAR img {
  height: 37px;
  width: 37px;
  cursor: pointer;
}
.mesAR {
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
  &.ownerAR {
    p {
      background-color: blue;
      color: white;
      border-radius: 10px 0px 10px 10px;
    }
  }
}
.InputtAR {
  height: 41px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 32px 33px;
  border-top: 1px solid;
}
.InputtAR input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.InputtAR input::placeholder {
  color: lightgray;
}
.texAR {
  display: flex;
  align-items: center;
  gap: 10px;
}
.texAR img {
  height: 24px;
  cursor: pointer;
}
.ss1AR {
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 20px;
  background: #0163e0;
  cursor: pointer;
}
.messAR {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}
.messInfoAR {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}
.messInfoAR img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.messContentAR img {
  width: 50%;
}
.messContentAR {
  max-width: 80%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.messContentAR p {
  border-radius: 25px;
  background: #0163e0;
  padding: 10px 20px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  max-width: max-content;
}
.searchFormAR input {
  width: 85%;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: solid 1px;
}
