.headerAR {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto 1fr;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  align-items: center;
}
.language-buttonAR {
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: #34a853;
  margin: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.language-buttonEN {
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: black;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.language-switchAR {
  grid-column: 2;
}
.icon-wrapperAR {
  grid-column: 2;
}
.center-contentAR {
  grid-column: 0;

  grid-column: 3/7;
}
.contact-linksAR {
  grid-column: 7;
  grid-row: 1;
  margin-top: 18px;
  /* color: gray; */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.contact-linksAR a {
  text-decoration: none;
  color: gray;
}
.contact-linksAR ::after {
  content: "";
  position: absolute;
  bottom: 0;
  /* left: -10%; */
  top: 5%;
  transform: translateX(50%);
  width: 14%;
  height: 1px;
  background-color: gray;
}
.profile-buttonAR {
  grid-row: 2;
  grid-column: 7;
}
.profile-textAR {
  text-decoration: none;
  color: gray;
}
/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .language-switch {
    display: none;
  }

  .icon-wrapper {
    font-size: 20px;
  }

  .profile-icon {
    width: 18px;
    height: 18px;
  }

  .profile-text {
    font-size: 14px;
  }
}
