.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3 {
  border: 1px solid gray;
  border-radius: 10px;
  height: 81%;
  width: 65%;
  display: flex;
  overflow: hidden;
  gap: 100px;
  border: none;
}
.SideBar {
  border-radius: 33px;
  box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.1);
  flex: 1 1;
  border: 1px solid gray;
  background-color: white;
}
.Chat {
  flex: 2;
  border: solid;
  border-radius: 33px;
  box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.1);

  border: 1px solid gray;
  background-color: white;
}
.navbar {
  display: flex;
  align-items: center;

  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: black;
}
.l1 {
  font-weight: bold;
}
.user33 {
  display: flex;
  gap: 10px;
}
.im {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.Search {
  border-bottom: 1px solid black;
}
.inputForm {
  padding: 10px;
  border-radius: 25px;
  background: rgba(239, 246, 252, 0.87);
}
.inputForm input {
}
.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  cursor: pointer;
}
.userChat:hover {
  background-color: gray;
}
.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userChatInfo span {
  font-size: 18px;
  font-weight: 50;
}

.userChatInfo p {
  font-size: 14px;
  color: lightgray;
}
.chat {
  flex: 2;
  border: 1px solid black;
}
.chatinfo {
  height: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #303030;
}
.chatinfo img {
  height: 37px;
  width: 37px;
  cursor: pointer;
}
.mes {
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
  &.owner {
    /*check how this will work with a condition */
    p {
      background-color: blue;

      color: white;
      border-radius: 10px 0px 10px 10px;
    }
  }
}
.Inputt {
  height: 41px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 32px 33px;
  border-top: 1px solid;
}
.Inputt input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.Inputt input::placeholder {
  color: lightgray;
}
.tex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tex img {
  height: 24px;
  cursor: pointer;
}
.ss1 {
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 20px;
  background: #0163e0;
  cursor: pointer;
}
.mess {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}
.messInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}
.messInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.messContent img {
  width: 50%;
}
.messContent {
  max-width: 80%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.messContent p {
  border-radius: 25px;
  background: #0163e0;
  padding: 10px 20px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  max-width: max-content;
}
.searchForm input {
  width: 85%;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: solid 1px;
}
